.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marker{
  width: 60px;
  height: 60px;
  border: 1px solid orange;
  border-radius: 50%;
}

.z-100{
  z-index: 100;
}

.absolute{
  position: absolute;
}

.cyan{
    background-color: #61dafb;
}

.green {
  background-color: rgba(32, 174, 32, 0.771);
}

.action_btn{
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5%;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
}

.fixed{
  position: fixed;
}

.right{
  right: 1rem;
  top: 1rem;
}

.left{
  left: 1rem;
  top: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
